@import "tailwindcss";

@font-face {
  font-family: "Dana";
  src: url("/fonts/woff2/Dana-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("/fonts/woff2/Dana-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("/fonts/woff2/Dana-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("/fonts/woff2/Dana-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("/fonts/woff2/Dana-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("/fonts/woff2/Dana-DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DanaBold";
  src: url("/fonts/woff2/Dana-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("/fonts/woff2/Dana-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("/fonts/woff2/Dana-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --font-sans: "Dana", sans-serif;
  --font-mono: "Dana", sans-serif;
}

body {
  margin: 0;
}
